<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<p-toast class="custom-toast"></p-toast>
<form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
  <div class="row">
    <div class="input-field col s6">
      <input class="validate" type="text" name="username" #UserName="ngModel" placeholder="Usuario" [(ngModel)]="user.username" required>
    </div>
    <div class="input-field col s6">
      <input class="validate" type="password" name="password" #Password="ngModel" placeholder="Password" [(ngModel)]="user.password" required>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input class="validate" type="text" name="email" #Email="ngModel" placeholder="Email" [(ngModel)]="user.email" [pattern]="emailPattern">  
    </div>
  </div>
  
  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Registrarse</button>
    </div>
  </div>
</form>
