<div class="ui-g-12 account-wall">
   <p-toast></p-toast>
   <p-confirmDialog acceptLabel="Si" rejectLabel="Cancelar" header="Confimar" icon="pi pi-exclamation-triangle">
   </p-confirmDialog>
   <div class="ui-g-4">

      <p-panel header="Registro de titulares">
         <p-fieldset legend="">

            <form [formGroup]="formPerson" (ngSubmit)="validarAntesDeGrabar()">

               <input type="text" formControlName="idpersona" pInputText hidden="hidden" />

               <div class="ui-g-12">
                  <label class="custom-field-label">Cuit</label>
                  <input type="text" formControlName="cuit" pInputText>
               </div>

               <div class="ui-g-12">
                  <label class="custom-field-label">Tipo de titular</label>
                  <p-dropdown optionLabel="nombre" [options]="categoriaPersona"
                     placeholder="Seleccione el tipo de titular" formControlName="categoriapersona"
                     (onChange)="onChangeCategoria()" [style]="{'width':'100%'}">
                  </p-dropdown>
               </div>

               <div [hidden]="flagFisica">
                  <div class="ui-g-12">
                     <label class="custom-field-label">Nombre</label>
                     <input type="text" formControlName="nombre" pInputText>
                  </div>

                  <div class="ui-g-12">
                     <label class="custom-field-label">Apellido</label>
                     <input type="text" formControlName="apellido" pInputText>
                  </div>

                  <div class="ui-g-12">
                     <label class="custom-field-label">DNI</label>
                     <input type="text" formControlName="dni" pInputText>
                  </div>
               </div>

               <div [hidden]="flagJuridica">
                  <div class="ui-g-12">
                     <label class="custom-field-label">Razón social</label>
                     <input type="text" formControlName="razonsocial" pInputText>
                  </div>

                  <div class="ui-g-12">
                     <!-- <p-spinner formControlName="aniofundacion" placeholder="Año de fundación"></p-spinner> -->
                     <label class="custom-field-label">Año de fundación</label>
                     <p-inputMask #myInputMaskCcv [(ngModel)]="attrCcv.attributeValue" formControlName="aniofundacion"
                        mask="9999" (onBlur)="isInputMaskFilledCcv($event)"></p-inputMask>
                  </div>
               </div>

               <div class="ui-g-12">
                  <div class="ui-g-6">
                     <p-button label="Guardar" style="margin-right: 10px" type="submit" [disabled]="!formPerson.valid">
                     </p-button>
                  </div>
                  <div class="ui-g-6">
                     <p-button label="Limpiar" type="reset" (onClick)="clearForm()"></p-button>

                  </div>
               </div>
            </form>
         </p-fieldset>
      </p-panel>
      <p></p>
   </div>

   <div class="ui-g-8">
      <p-panel header="Datos">
         <p-table id="dataPersonas" [value]="persons" [responsive]="true" [paginator]="true" [rows]="9" [resizableColumns]="true"
            columnResizeMode="expand">
            <ng-template pTemplate="header">
               <tr>
                  <th *ngFor="let col of dataTableCols" pResizableColumn style="background-color: #E0F0F0;">
                     {{col.header}}
                  </th>
                  <th style="background-color: #E0F0F0;">
                     
                  </th>
               </tr>
            </ng-template>
            <ng-template pTemplate="body" let-person let-rowData let-columns="columns">
               <tr>
                  <td (click)="onEditPerson(person)" *ngFor="let col of dataTableCols" class="ui-resizable-column">
                     {{person[col.field]}}
                  </td>
                  <td align="center">
                     <button (click)="deleteConfirm(person)" icon="pi-times-circle">X</button>                    
                  </td>
               </tr>
            </ng-template>

         </p-table>
      </p-panel>
   </div>
</div>
<div class="alert alert-danger alert-dismissable fuente-project" *ngIf="msg">
   <a class="close" (click)="closeAlert()">
      &times;
   </a>
   <h6>{{msg}}</h6>
</div>